.basic_form {
	font-family:Georgia;
	margin:10px;
}

	.basic_form fieldset {
		padding:0;
		border:none;
	}
	
	.basic_form legend {
		font-size:14pt;
		margin:0;
	}
	
	.basic_form label {
		display:block;
		font-size:15px;
		font-family:;
	}
	
	.basic_form input {
		display:block;
		font-size:25px;
		font-family:Georgia;
	}
	
	.basic_form input.filef {
		font-size:12px;
	}
	
	.choice {
		font-size:20px;
		margin-left:5px;
	}
	
		.choice a {
			
		background:#fde;
		}
	
.buttons input {
	cursor:pointer;
	display:inline;
	border:none;
	text-decoration: none;
	color: #fff;
	margin-right: 8px;
	height:28px;
	font: 900 14px "Arial", Helvetica, sans-serif;
	background: url("../images/btn_span.png") no-repeat top left;
	margin:0;
	padding:5px;
}

.buttons span {
	float: left;
	padding-right: 5px;
	display: block;
	margin-top: -4px;
	height: 28px;
	background: url("../images/btn_a.png") no-repeat top right;
	margin:0;
}